body {
  margin: 0;
  padding: 1.5rem;
  color: #666;
  background: url('./assets/bg.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

blockquote {
  margin: 0;
  padding: 0;
}

blockquote:before {
  content: '"';
}

.BlogBody {
  overflow: hidden;
}

.FetchError {
  border: 1px solid rgba(255,255,255,0.65);
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
}

.FetchError h4 {
  color: #fff;
  margin: 0 0 0.75rem 0;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(255,255,255,0.65);
}

.FetchError p {
  color: #fff;
  margin: 0;
}

@media (min-width: 768px) {
  .App {
    width: 748px;
    margin: 0 auto;
    padding-top: 3rem;
  }
  .BlogBody {
    float: right;
    width: 65%;
  }
}
